<h1>for variabel in collection</h1>

In [1]:
fruits = ["Apple", "Banana","Watermelon","Pineaplle"]
for fruit in fruits:
    print(f"Nama Buah : {fruit}")

Nama Buah : Apple
Nama Buah : Banana
Nama Buah : Watermelon
Nama Buah : Pineaplle

In [4]:
#contoh penggunaan
#kelas TI24F punya data nilai pemrograman python 80,100,90,70,70,50,40
#carilah nilai rata-rata nilai pemrograman python di kelas TI24F

nilaiPython = [80,100,90,70,70,50,40]
total = 0
for nilai in nilaiPython:
    total += nilai

rata2 = total / len(nilaiPython)
print(f"Nilai Rata-rata : {rata2}")

Nilai Rata-rata : 71.42857142857143

In [6]:
#enumerate
month = ["Jan","Feb","Mar","Apr","Mei","Jun","Jul","Aug","Sep"]
for i, m in enumerate(month): #(i) untuk variabel nama contoh nya month. #(m) untuk tipe data dari variabel nya
    print(f"{i} : {m}")

0 : Jan
1 : Feb
2 : Mar
3 : Apr
4 : Mei
5 : Jun
6 : Jul
7 : Aug
8 : Sep

In [7]:
kampus = input("isikan Nama Kampus :")
for karakter in kampus :
    print(karakter) #berapa banyak jumah huruf vokalnya

isikan Nama Kampus : Nua Putra

N
u
a

P
u
t
r
a

In [11]:
kampus = input("isikan Nama Kampus :")
listVocal = ["a","i","u","e","o"]
total = 0
for karakter in kampus :
    if karakter in listVocal :
        total += 1
        isVokal = "Huruf Vokal"
    else:
        isVokal = "Bukan Huruf Vokal"
    print(f"{karakter} adalah {isVokal} |Total :{total}") 
print(f"Jumlah Total huruf Vokal : {total}")

isikan Nama Kampus : Nusa Putra

N adalah Bukan Huruf Vokal |Total :0
u adalah Huruf Vokal |Total :1
s adalah Bukan Huruf Vokal |Total :1
a adalah Huruf Vokal |Total :2
  adalah Bukan Huruf Vokal |Total :2
P adalah Bukan Huruf Vokal |Total :2
u adalah Huruf Vokal |Total :3
t adalah Bukan Huruf Vokal |Total :3
r adalah Bukan Huruf Vokal |Total :3
a adalah Huruf Vokal |Total :4
Jumlah Total huruf Vokal : 4

In [10]:
#looping list comprehension
data = [1,2,3,4,5]
pangkat = [x**2 for x in data]
print(pangkat)

[1, 4, 9, 16, 25]

In [12]:
#range
for i in range(10):
    print(f"Nilai i adalah :{i}")

Nilai i adalah :0
Nilai i adalah :1
Nilai i adalah :2
Nilai i adalah :3
Nilai i adalah :4
Nilai i adalah :5
Nilai i adalah :6
Nilai i adalah :7
Nilai i adalah :8
Nilai i adalah :9

In [13]:
for u in range (5,10):
    print(f"Nilai u : {u}")

Nilai u : 5
Nilai u : 6
Nilai u : 7
Nilai u : 8
Nilai u : 9

In [14]:
#cek bilangan prima atua bukan
number = int(input("isikan Bilangan:"))
faktor = 0 
for i in range(1,number+1):
    if number % i == 0:
        faktor +=1
if faktor ==2:
    print(f"{number} adalah Bilangan Prima")
else:
    print(f"{number} adalah bukan Bilanngan Prima")

isikan Bilangan: 7

7 adalah Bilangan Prima

In [19]:
#faktorial
#3! = 3*2*1 = 6

total = 1
number = int(input("Isikan Bilangan :"))
for i in range(1,number+1):
    total*=i
print(f"{number}! = {total}")

Isikan Bilangan : 4

4! = 24

In [22]:
#1 -2 3 -4 5 -6 7 -8 9 -10
number = int(input("Isikan Bilangan :"))
sign = 1
for i in range(1,number+1):
    result = sign *i
    print(f"{result} ", end='')
    sign *= -1

Isikan Bilangan : 10

1 -2 3 -4 5 -6 7 -8 9 -10

In [24]:
kursiBioskop = ["L","P","P","L","L","P","L"]
totalLaki = 0
for jenis in kursiBioskop:
    if jenis=="L":
        totalLaki +=1
print(f"Jumlah penonton Laki-Laki :{totalLaki}")
print(f"Jumlah Penonton Perempuan :{len(kursiBioskop)-totalLaki}")

Jumlah penonton Laki-Laki :4
Jumlah Penonton Perempuan :3

In [25]:
kursiBioskop = ["L","P","P","L","L","P","L"]
couple =0
for i in range (len(kursiBioskop)-1):
    if kursiBioskop[i] != kursiBioskop[i+1]:
        couple+=1
print(f"Jumlah Couple :{couple}")

Jumlah Couple :4

In [29]:
data =  {
    "fname" : "Desur",
    "lname" : "Agus"
}
for key,value in data.items():
    print(f"{key} : {value}")

fname : Desur
lname : Agus