<h>Operator Aritmatika</h>

In [8]:
jumlahApelBudi = 12
jumlahTeman = 4 
    
apelDibagijumlahTeman = jumlahApelBudi/jumlahTeman
print("Setiap teman akan menerima :", apelDibagijumlahTeman, "Apel")

tambahanApel = 8
totalApelsekarang = jumlahApelBudi + tambahanApel
print("Total Apel yang dimiliki Budi sekarang adalah :",totalApelsekarang,"Apel")

Setiap teman akan menerima : 3.0 Apel
Total Apel yang dimiliki Budi sekarang adalah : 20 Apel

<h>Operator Perbandingan</h>

In [10]:
fVal = int(input("Isikan tinggi badan Siti"))
sVal = int(input("Isikan tinggi badan Andi"))

print(fVal,"=",sVal,fVal==sVal)
print(fVal,"!=",sVal,fVal!=sVal)
print(fVal,">",sVal,fVal>sVal)
print(fVal,"<",sVal,fVal<sVal)
print(fVal,">=",sVal,fVal>=sVal)
print(fVal,"<=",sVal,fVal<=sVal)

Isikan tinggi badan Siti 160
Isikan tinggi badan Andi 165

160 = 165 False
160 != 165 True
160 > 165 False
160 < 165 True
160 >= 165 False
160 <= 165 True

<h>Operator Logika</h>

In [14]:
cuacaCerah = True
sudahMenyelesaikanPR = False

bisaBermain = cuacaCerah and sudahMenyelesaikanPR

if bisaBermain:
    print ("Budi Bisa Bermain Diluar ")
else :
    print("Budi Tidak Bisa Bermain Diluar ")

Budi Tidak Bisa Bermain Diluar

<h>Operator Bitwise</h>

In [16]:
angka1 = 6
angka2 = 3 

print(angka1 & angka2)
print(angka1 | angka2)
print(angka1 ^ angka2)

2
7
5

<h>Operator Penugasan<h/>

In [19]:
nilaiAwal = int (input("Isikan Uang Awal:"))
print("Uang awal :",nilaiAwal)
nilaiAwal+=20000
print("setelah mengisi ulang 20000 =",nilaiAwal)
nilaiAwal-=30000
print("sisa uang dikurang membeli internet 30000 =",nilaiAwal)

Isikan Uang Awal: 50000

Uang awal : 50000
setelah mengisi ulang 20000 = 70000
sisa uang dikurang membeli internet 30000 = 40000

<h>Operator Keanggotaan<h/>

In [24]:
find = "Eka"
daftarMahasiswa = "Andi","Budi","Citra","Dewi"
print(find in daftarMahasiswa)
print(find not in daftarMahasiswa)

find = "Python"
Kalimat = "Saya suka Belajar Python"
print(find in Kalimat)
print(find not in Kalimat)

False
True
True
False

<h>Operator Indentitas</h>

In [31]:
x = 5
y = 5

hasil = x is y
print ("Apakah x dan y variabel yang sama:",x is y)

list1 = [4,5,6]
list2 = [4,5,6]

print("list1 is list2:",list1 is list2)
print("list1 is not list2:",list1 is not list2)

Apakah x dan y variabel yang sama: True
list1 is list2: False
list1 is not list2: True

<h>Operator Ternary</h>

In [32]:
x = int(input("masukan nilai x :"))
y = 100
isHigher = "bilangan x lebih besar dari 100" if x > y else "bilangan x lebih kecil dari 100"
print(isHigher)

masukan nilai x : 78

bilangan x lebih kecil dari 100

In [34]:
x = int(input("masukan nilai matkul :"))
y = 76
isPass = "lulus" if x >= y else "tidak lulus"
print(isPass)

masukan nilai matkul : 76

lulus